<%= form_for(@question, html: {class: "form-inline"}) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div id="new-question-form">
  <div class="row">
    <div class="span6">
      <%= f.text_field :option_true, :placeholder => "Option 1" %>
    </div>
    <div class="span6">
      <%= f.text_field :option_false, :placeholder => "Option 2" %>
    </div>
    </div>
  </div>
    <%= current_user ? (f.hidden_field :user_id, :value => current_user.id) : "" %>
  <div class="form-actions">
      <%= f.submit "Ask Question" %>
  </div>
</div>


<% end %>
