<div class="page-header">
  <h1>Questions</h1>
</div>

<div class="new-question">
  <div class="row">
    <div class="span12 btn btn-large btn-block btn-warning">
      <%= link_to 'New Question', new_question_path %>
    </div>
  </div>
</div>


<% @questions.each do |question| %>
<div class="questions">
  <div class="row">
    <div class="span6">
      <div class="question-button"><%= question.option_true %></div></div>
    <div class="span6">
      <div class="question-button"><%= question.option_false %></div></div>
  </div>

    <div class="controls">
      <%= link_to 'Show', question %>
    </div>
    <span class='admin'>
      | <%= link_to 'Edit', edit_question_path(question) %>
      | <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
</div>
<% end %>


