
<% @questions.each do |question| %>
<div class="question_container">
  <div class='logo padding'>
    <h1> Would you rather... </h1>
  </div>
  <div class="row-fluid">
    <div class="span4 offset1">
      <%= form_for @answer, :url => question_answers_path(question) do |f| %>

        <% if user_signed_in? %>
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
        <% else %>
        <input type="hidden" name="user_id" value="-1">
        <%end%>

      <input type="hidden" name="question_id" value="<%= question.id %>">
      <input type="hidden" name="answer" value= true >
      <%= f.submit "#{question.option_true}", :id => "true_submit_index"%>
      <%end%>
    </div>
    <div class="span2 logo"><h1> OR </h1></div>
    <div class="span4">
      <%= form_for @answer, :url => question_answers_path(question) do |f| %>

      <% if user_signed_in? %>
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
        <% else %>
        <input type="hidden" name="user_id" value="-1">
        <%end%>

      <input type="hidden" name="question_id" value="<%= question.id %>">
      <input type="hidden" name="answer" value= false >
      <%= f.submit "#{question.option_false}", :id => "false_submit_index"%>
      <%end%>
    </div>

   <!--  <div class="span2 controls">
      <ul>
        <li><% link_to 'Show', question %></li>
        <li> | <% link_to 'Edit', edit_question_path(question) %></li>
        <li> | <% link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div> -->
  </div>
</div>
<% end %>


