<p id="notice"><%= notice %></p>

<p>
  <b>Option true:</b>
  <%= @question.option_true %>
</p>

<p>
  <b>Option false:</b>
  <%= @question.option_false %>
</p>

<p>
  <b>Answer:</b>
  <%= @question.answer %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
